@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto-Light'),
        local('Roboto Light'),
        url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto-Regular'),
        local('Roboto Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto-Medium'),
        local('Roboto Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat-SemiBold'),
        local('Montserrat SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat-Bold'),
        local('Montserrat Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat-ExtraBold'),
        local('Montserrat ExtraBold'),
        local('Montserrat-UltraBold'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}