@use 'helpers' as *;
body {
    @include fluid-text(16, 14);
    font-family: var(--font-family-base), sans-serif;
    color: var(--color-dark);
    background-color: var(--color-beige);
}

li {
    font-size: rem(14);
}


